<div class ="search-section">
    <input type="text" placeholder="Search trades (e.g. Whimsicott)">
    <button>Search</button>
</div>

<div class="create-section">
    <a href="/create-trade">
        <button>Post a Trade</button>
    </a>
</div>

{{!-- Adds the cards for the recent trades to the home page --}}
<div class="recent-trades">
    <h2>Recently Posted Trades</h2>
    {{#if trades}}
    {{#each trades}}
        <div class="trade-card">
           <p><strong>Wants:</strong></p>
           <div class="pokemon-list">
            {{#each this.wantedPokemon}}
                <div class="pokemon-item">
                    <img src="{{this.sprite_url}}" alt="{{this.name}}" class="pokemon-sprite">
                    <span>{{this.name}}</span>
                </div>
            {{/each}}
            </div>
           
           <p><strong>Offering:</strong></p>
           <div class="pokemon-list"> 
            {{#each this.offeredPokemon}}
                <div class="pokemon-item">
                    <img src="{{this.sprite_url}}" alt="{{this.name}}" class="pokemon-sprite">
                    <span>{{this.name}}</span>
                </div>
            {{/each}}
            </div>

            {{#if this.notes}}
            <p><strong>Notes:</strong>
                {{this.notes}}</p>
            {{/if}}
            
            {{!-- This will bring the user to the persons profile when clicking the name --}}
            <p><strong>Posted by:</strong> <a href="/profile/{{this.user.pogo_username}}">{{this.user.pogo_username}}</a></p>
        </div>
    {{/each}}
    {{else}}
     <p>No trades yet! Be the first to post one.</p>
    {{/if}}
</div>